@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome!</h1>
    <p></p>
    <h1 class="display-5">Learn more about the places where dreams come to life!</h1>
    <h1 class="display-5">Fazbear Entertainment provides a site</h1>
    <h1 class="display-5">with all the information you may want to know!</h1>
</div>
